.Card {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  background-color: bisque;
  align-items: center;
}

.Info {
  display: flex;
  width: 100%;
}


.Info-Left {
  width: 40%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: inherit;
  border: 1px solid red;
  align-items: center;


}

.Card-Username {
  border: 2px solid black;
  width: 100%;
  height: 10%;
}

.Card-Image{ 
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 1px solid green;
  flex-grow: 1;
}

.Image-Wrapper {
  border: 1px solid black;
  height: 100%;
}



.Info-Right {
  display: flex;
  width: 100%;
}






.Card-Footer {
  width: 100%;
  margin: 5px 0px;
  display: flex;
  justify-content: center;
}

.createdAt {
  width: 40%;
}

.bpm {
  width: 100%;
}
