.Card {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  background-color: bisque;
  align-items: center;
  border-radius: 5px;
}

.Info {
  display: flex;
  width: 100%;
}


.Info-Left {
  flex: 1;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: inherit;
  /* border: 1px solid red; */
  align-items: center;


}

.Card-Username {
  /* border: 2px solid black; */
  flex: 1;
}

.Card-Image{ 
  flex: 2;
  max-width: 100%;
  vertical-align: middle;
  /* border: 1px solid green; */
  flex-grow: 1;
  border-radius: 45px;
}

.Image-Wrapper {
  border: 1px solid black;
  height: 100%;
}



.Info-Right {
  display: flex;
  flex: 2;
  flex-direction: column;
  border: 1px solid black;
}

.Info-Right-Up {
  border: 1px solid black;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;

}

.Info-Right-Down {
  border: 1px solid black;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Info-Right-Down div{
  
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  
}

.Play-Pause-Btn {
  width: 40px;
  height: 40px;
}





.Card-Footer {
  width: 100%;
  margin: 5px 0px;
  display: flex;
  justify-content: center;
}

.createdAt {
  flex: 1;
}

.bpm {
  flex: 2;
}


.heartOff {
  fill: grey;
  position: relative;
  top: 5px;
  width: 20px;
}

.heartOn {
  fill: red;
  position: relative;
  top: 5px;
  width: 20px;
  animation-name: pulse;
  animation-duration: 1.5s;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}