.Card {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
  margin-top: 5%;
  background-color: #e8e7e1;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px #181615;

}
.Card-Image{
  width: 50%;
  margin-top: 18%;
}
h5{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 10px;
}

.Info {
  display: flex;
  width: 100%;
  /* max-height: 100%; */
  flex: 2;
}


.Info-Left {
  flex: 1;
  /* height: 100%; */
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: inherit;
  
  align-items: center;
}

.Image-Wrapper {
  
  height: 100%;
  /* flex: 2; */
}

.Image-Wrapper img{ 
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  flex-grow: 1;
  border-radius: 50%;
}

.Card-Username {
  flex: 1;
}








.Info-Right {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.Info-Right-Up {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;

}

.Info-Right-Down {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Info-Right-Down div{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.Play-Pause-Btn {
  width: 40px;
  height: 40px;
  margin-bottom: 8%;
}





.Card-Footer {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.createdAt {
  flex: 1;
}

.bpm {
  flex: 2;
  height: 5vh
}




.heartOff {
  fill: grey;
  position: relative;
  top: 5px;
  width: 20px;
}

.heartOn {
  fill: red;
  position: relative;
  top: 5px;
  width: 20px;
  animation-name: pulse;
  animation-duration: 1.5s;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}