.Feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 75px;
  /* padding-bottom: 18%; */
}

.BtnOrders {
  display: flex;
  justify-content: space-around;
  margin: 10px 0px;
}

.BtnOrders button{
  width: 100%;
  padding: 7px 0px;
  /* background-image: blue; */
	border-radius: 40px;
  box-sizing: border-box;
  color: #171615;
  position: relative;
  border: 0px solid #d9d9d9;

  /* -webkit-appearance: none; */
}

.BtnOrders button span{
  background: #e7e8e9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 40px;
}