.Feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-bottom: 18%; */
}

.BtnOrders {
  background-color: yellowgreen;
  display: flex;
  justify-content: space-around;
  margin: 10px 0px;
}

