.Machine {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.Instruments {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.Instrument {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Controllers {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;

}

.Steps {
  border: 1px solid black;
  display: flex;
}

.Step {
  border: 1px solid black;
  flex: 1;
}

.Step-Active {
  border: 1px solid black;
  flex: 1;
  background-color: burlywood;
}

.Stp-Btn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Little-Step {
  border: 1px solid black;
  width: 100%;
  height: 90%;
}